* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Golos-Text_Regular';
    src: url('../fonts/Golos-Text_Regular.ttf');
}

@font-face {
    font-family: 'Golos-Text_Bold';
    src: url('../fonts/Golos-Text_Bold.ttf');
}

@font-face {
    font-family: 'Golos-Text_SemiBold';
    src: url('../fonts/Golos-Text_DemiBold.ttf');
}

@font-face {
    font-family: 'Golos-Text_Medium';
    src: url('../fonts/Golos-Text_Medium.ttf');
}

@font-face {
    font-family: 'Merriweather';
    src: url('../fonts/Merriweather-Regular.ttf');
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header-container {
    background-color: #E9DED4;
    position: relative;
    width: 1920px;
    max-height: 700px;
}

.header-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../images/mask.png');
    mask-image: url('../images/mask.png');
    /* mask-mode: luminance; */
    z-index: 1;
    mix-blend-mode: color-burn;
}

.logo {
    position: relative;
    top: 27px;
    left: 347px;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    max-width: 245.17px;
    z-index: 2;
}

.logo-symbols {
    display: flex;
}

.horse-logo {
    background-image: url('../svg/horse_vector.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    width: 21.65px;
    height: 31.18px;
}

.logo-txt {
    display: flex;
    flex-direction: column;
    font-family: 'Golos-Text_Bold', sans-serif;
    font-weight: 700;
    font-size: 16.65px;
    line-height: 17.98px;
    letter-spacing: 0.16px;
    color: rgba(89, 86, 83, 1);
    width: 150px;
    text-transform: uppercase;
    margin-left: 5px;
}

.header-block {
    position: relative;
    top: 85px;
    left: 343.5px;
    max-width: 542px;
    z-index: 2;
}

.headline {
    display: flex;
    flex-direction: column;
    max-width: 542px;
}

.headline-txt {
    text-transform: uppercase;
    font-family: 'Merriweather', serif;
    font-weight: 400;
    font-size: 60px;
    line-height: 66px;
    align-self: center;
    color: rgba(49, 49, 49, 1);
}

.last-paragraph {
    align-self: flex-end;
}

.header-invite {
    font-family: 'Golos-Text_Regular', sans-serif;
    font-size: 18px;
    line-height: 23.4px;
    text-align: center;
    padding-top: 25px;
    color: rgba(49, 49, 49, 1);
}

.btns-container {
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
}

.btn {
    border: none;
    font-family: 'Golos-Text_Medium', sans-serif;
    font-size: 16px;
    border-radius: 66px;
    padding: 20px;
    width: 263px;
    max-height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.donate, .learn-more:hover {
    background-color: rgba(31, 31, 31, 1);
    color: #FFFFFF; 
}

.donate:hover {
    background-color: rgba(251, 206, 81, 1);
    color: rgba(31, 31, 31, 1);
}

.learn-more {
    background-color: transparent;
    border: 2px solid rgba(31, 31, 31, 1);
}

.btn-donate-txt {
    max-width: 165px;
    display: flex;
    align-items: center;
}

.btn-learn-more-txt {
    max-width: 100px;
}

.circle {
    max-width: 660px;
    max-height: 660px;
    width: 100%;
    height: 100%;
    background-color: rgba(251, 206, 81, 1);
    border-radius: 50%;
    position: absolute;
    top: -44px;
    left: 945px;
    z-index: 0;
}

.circle-txt {
    position: absolute;
    max-width: 736px;
    height: 100%;
    top: 44px;
    left: -58px;
}

.king {
    background-image: url('../images/king.png');
    position: relative;
    width: 128.78px;
    height: 265.89px;
    top: 315.19px;
    left: 55px;
}

.queen {
    background-image: url('../images/queen.png');
    position: relative;
    width: 130.16px;
    height: 261.44px;
    top: -57px;
    left: 387px;
}

.city {
    position: absolute;
    left: 155px;
    top: 270px;
    background-image: url('../images/city.png');
    background-repeat: no-repeat;
    width: 1623.5px;
    height: 452.5px;
    z-index: 0;
}

.city-contour {
    position: relative;
    background-image: url('../svg/city_cont.svg');
    width: 1634.71px;
    height: 463.82px;
    top: -7px;
    left: -7px;
}

.city-contour-second {
    position: relative;
    background-image: url('../svg/city_cont2.svg');
    width: 1604.71px;
    height: 463.82px;
    top: -474px;
    left: -6px;
}

.pawn {
    background-image: url('../images/pawn.png');
    position: absolute;
    width: 82.61px;
    height: 122.22px;
    left: 1510px;
    top: 557px;
    z-index: 2;
}

.knight {
    background-image: url('../images/knight.png');
    position: relative;
    width: 190px;
    height: 243.99px;
    left: 1106px;
    top: 0px;
    z-index: 2;
}

.running-line-container {
    display: inline-block;
    position: relative;
    max-width: 1920px;
    overflow: hidden;
    background-color: #F54932;
    z-index: 3;
}

.running-line {
    display: inline-flex;
    width: max-content;
    padding: 18px 12px 18px 12px;
}

.running-line-txt {
    font-family: 'Merriweather', serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 24.2px;
    color: #FFFFFF;
    text-transform: uppercase;
}

.running-line-txt::after {
    content: '';
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #FFFFFF;
    margin: 0 10px;
    transition: .1s;
}