* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Golos-Text_Regular';
    src: url('../fonts/Golos-Text_Regular.ttf');
}

@font-face {
    font-family: 'Golos-Text_Bold';
    src: url('../fonts/Golos-Text_Bold.ttf');
}

@font-face {
    font-family: 'Golos-Text_SemiBold';
    src: url('../fonts/Golos-Text_DemiBold.ttf');
}

@font-face {
    font-family: 'Golos-Text_Medium';
    src: url('../fonts/Golos-Text_Medium.ttf');
}

@font-face {
    font-family: 'Merriweather';
    src: url('../fonts/Merriweather-Regular.ttf');
}

@font-face {
    font-family: 'Merriweather_Bold';
    src: url('../fonts/Merriweather-Bold.ttf');
}


.header-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/mask.png');
    z-index: 1;
    mix-blend-mode: color-burn;
}

.header-container {
    background-color: #E9DED4;
    position: relative;
    /* min-width: 1920px; */
    /* width: 100%; */
    min-height: 700px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
}

.header {
    display: flex;
    flex-direction: column;
}

.header-section {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-left: -9px;
}

.graphics {
    position: relative;
    left: 58px;
}

.logo {
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    z-index: 2;
    padding: 27px 0;
}

.logo-symbols {
    display: flex;
}

.horse-logo {
    background-image: url('../svg/horse_vector.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    width: 23px;
    height: 30px;
}

.logo-txt {
    display: flex;
    flex-direction: column;
    font-family: 'Golos-Text_Bold', sans-serif;
    font-weight: 700;
    font-size: 16.65px;
    line-height: 17.98px;
    letter-spacing: 0.16px;
    color: rgba(89, 86, 83, 1);
    width: 150px;
    text-transform: uppercase;
    margin-left: 5px;
}

.header-block {
    max-width: 542px;
    z-index: 2;
    padding-top: 31.8px;
}

.headline {
    display: flex;
    flex-direction: column;
}

.headline-txt {
    text-transform: uppercase;
    font-family: 'Merriweather', serif;
    font-weight: 400;
    font-size: 60px;
    line-height: 66px;
    align-self: center;
    color: rgba(49, 49, 49, 1);
}

.last-paragraph {
    align-self: flex-end;
}

.header-invite {
    font-family: 'Golos-Text_Regular', sans-serif;
    font-size: 18px;
    line-height: 23.4px;
    text-align: center;
    padding-top: 25px;
    color: rgba(49, 49, 49, 1);
}

.btns-container {
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
}

.btn {
    border: none;
    font-family: 'Golos-Text_Medium', sans-serif;
    font-size: 16px;
    border-radius: 66px;
    padding: 20px;
    width: 263px;
    max-height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .1s;
}

.donate, .learn-more:hover {
    background-color: rgba(31, 31, 31, 1);
    color: #FFFFFF; 
}

.donate:hover {
    background-color: rgba(251, 206, 81, 1);
    color: rgba(31, 31, 31, 1);
}

.learn-more {
    background-color: transparent;
    border: 2px solid rgba(31, 31, 31, 1);
}

.btn-donate-txt {
    max-width: 165px;
    display: flex;
    align-items: center;
}

.btn-learn-more-txt {
    max-width: 100px;
}

.circle {
    width: 660px;
    height: 660px;
    background-color: rgba(251, 206, 81, 1);
    border-radius: 50%;
    position: relative;
    top: -44px;
    z-index: 0;
}

.circle-txt {
    background-image: url('../images/circle_txt.png');
    position: relative;
    width: 777px;
    height: 100%;
    top: 44px;
    left: -58px;
    mix-blend-mode: overlay;
}

.king {
    background-image: url('../images/king.png');
    background-repeat: no-repeat;
    position: absolute;
    width: 128.78px;
    height: 265.89px;
    top: 312px;
    left: 55px;
}

.queen {
    background-image: url('../images/queen.png');
    background-repeat: no-repeat;
    position: absolute;
    width: 130.16px;
    height: 261.44px;
    top: 209px;
    left: 387px;
}

.city {
    position: absolute;
    left: -790px;
    top: 270px;
    background-image: url(../images/city.png);
    background-repeat: no-repeat;
    width: 1623.5px;
    z-index: 0;
}

.city-contour {
    position: relative;
    background-image: url('../svg/city_cont.svg');
    background-repeat: no-repeat;
    max-width: 1605px;
    width: 100%;
    height: 463.82px;
    top: -10px;
    left: -4px;
}

.pawn {
    background-image: url('../images/pawn.png');
    background-repeat: no-repeat;
    position: absolute;
    width: 82.61px;
    height: 122.22px;
    left: 565px;
    top: 558px;
    z-index: 2;
}

.knight {
    background-image: url('../images/knight.png');
    background-repeat: no-repeat;
    position: absolute;
    width: 190px;
    height: 230.99px;
    left: 162px;
    top: 482px;
    z-index: 2;
}

.running-line-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    background-color: rgba(245, 73, 50, 1);
    z-index: 3;
}

.running-line {
    display: inline-flex;
    min-width: max-content;
    padding: 18px 12px 18px 12px;
}

.running-line-txt {
    font-family: 'Merriweather', serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 24.2px;
    color: #FFFFFF;
    text-transform: uppercase;
}

.running-line-txt::after {
    content: '';
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #FFFFFF;
    margin: 0 10px;
    transition: .1s;
}

.main-content {
    padding-top: 80px;
    max-width: 1232px;
    margin: auto;
}

.explanation {
    display: flex;
    flex-direction: column;
    max-width: 1222px;
    width: 100%;
    padding-bottom: 158px;
    padding-left: 14px;
}

.lection-anounce {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 65px;
}

.chess-players {
    max-width: 394px;
    width: 100%;
}

.anounce {
    max-width: 764px;
}

h2 {
    color: rgba(49, 49, 49, 1);
    font-family: 'Merriweather', serif;
    font-weight: 400;
    line-height: 48.6px;
    font-size: 36px;
    text-transform: uppercase;
}

.bolder-red {
    font-family: 'Merriweather_Bold', serif;
    font-weight: 700;
    color:rgba(245, 73, 50, 1);

}

.conditions {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.grossmeister {
    background-image: url(../images/thinking_process.png);
    background-repeat: no-repeat;
    background-color: #FFFFFF;
    max-width: 530px;
    min-height: 568px;
    width: 100%;
    position: relative;
    top: -30px;
    left: -30px;
}

.grossmeister::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url('../images/filter.png');
    mix-blend-mode: color-burn;
    z-index: 1; 
}

.bait {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    left: -20px;
    top: -34px;
}

.advantages {
    max-width: 680px;
}

table {
    position: relative;
    top: 13px;
    left: -3px;
}

.table-row {
    position: relative;
    vertical-align: middle;
}

.row-second {
    top: 3px;
}

.row-third {
    top: 6px;
}

.row-fourth {
    top: 9px;
}

.last-row {
    top: 12px;
}

.table-row::after {
    content: '';
    position: absolute;
    width: 705px;
    height: 100%;
    top: 0;
    left: 0;
    border-bottom: 2px solid rgba(208, 208, 208, 1);
}

.last-row::after {
    display: none;
}

.table-term {
    position: relative;
    font-family: 'Golos-Text_Regular', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: rgba(49, 49, 49, 0.7);
}

.table-term::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 56px;
    top: 12px;
    left: -4px;
    border-right: 2px solid rgba(208, 208, 208, 1);
}

.last-row > .table-term::after {
    height: 48%;
}

.table-value {
    position: relative;
    font-family: 'Golos-Text_SemiBold', sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    color: rgba(49, 49, 49, 1);
    padding: 12px 85px 15px 10px;
}

.old-price {
    text-decoration: line-through;
    text-decoration-color: rgba(245, 73, 50, 1);
    text-decoration-thickness: 2px;
    margin-right: 8px;
}

.blue-string {
    position: relative;
    top: 25px;
    font-family: 'Golos-Text_Regular', sans-serif;
    font-size: 20px;
    color: rgba(48, 87, 162, 1);
    line-height: 21.6px;
}

.development-phases {
    display: flex;
    flex-direction: column;
    max-width: 1222px;
    padding-bottom: 202px;
    padding-left: 14px;
}

.phases-heading-block {
    display: inline-block;
    padding-bottom: 52px;
}

.header-big {
    max-width: 804px;
    font-size: 54px;
    line-height: 64.8px;
}

.blue-string-phases {
    display: inline-block;
    font-family: 'Golos-Text_Regular', sans-serif;
    font-size: 20px;
    color: rgba(48, 87, 162, 1);
    width: 250px;
    text-transform: none;
    line-height: normal;
    margin-left: 8px;
}

.scheme-container {
    display: grid;
    flex-direction: column;
    gap: 20px;
    position: relative;
    background-color: #FFFFFF;
    grid-template-columns: repeat(3, 1fr);
}

.grid {
    display: contents;
}

.scheme-container::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url('../images/scheme_base_filter.png');
    mix-blend-mode: color-burn;
}

.block {
    position: relative;
    max-width: 394px;
    width: 100%;
    height: 112px;
    background-image: url('../images/scheme_base.png');
}

.last-block, .sixt {
    height: 136px;
}

.third {
    height: 244px;
    grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

.last-block {
    position: relative;
    display: grid;
    max-width: 803px;
    left: 5px;
    grid-column-start: 2;
    grid-column-end: 4;
}

.number {
    position: relative;
    background-color: #FFFFFF;
    width: 36px;
    height: 36px;
    border-radius: 50%;

    font-family: 'Golos-Text_SemiBold', serif;
    font-size: 20px;
    line-height: 24px;
    color: rgba(49, 49, 49, 1);

    display: flex;
    align-items: center;
    justify-content: center;
    
    top: 20px;
    left: 20px;
}

.three {
    left: 23px;
    top: 21px;
}

.stage {
    position: relative;
    max-width: 299px;
    font-family: 'Golos-Text_Medium', serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    color: rgba(49, 49, 49, 1);
    top: -15px;
    left: 72px;
}

.stage-third {
    left: 75px;
}

.last-number {
    left: 25px;
}

.last-stage {
    left: 74px;
    max-width: 415px;
}

.last-block::after {
    content: '';
    position: absolute;
    background-image: url('../images/airplane.png');
    width: 380px;
    height: 215px;
    top: -95px;
    left: 467px;
}

.players {
    position: relative;
    max-width: 1232px;
    padding-bottom: 122px;
    overflow: hidden;
    padding-left: 14px;
}

.players-heading {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 60px;
}

.players-btns-container {
    display: flex;
    align-items: center;
}

.back, .next {
    background-color: rgba(49, 49, 49, 1);
    border: none;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    position: relative;
    transition: .1s;
}

.players-counter {
    margin: 0 14px;
    font-family: 'Golos-Text_Regular', sans-serif;
}

.semitransparent {
    opacity: 0.6;
}

.back:hover, .next:hover {
    background-color: rgba(251, 206, 81, 1);
    cursor: pointer;
}

.back:disabled, .next:disabled {
    background-color: rgba(214, 214, 214, 1);
    cursor: default;
}

.back::after {
    content: '';
    display: block;
    position: relative;
    background-image: url('../images/arrow_back.png');
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.next::after {
    content: '';
    display: block;
    position: relative;
    background-image: url('../images/arrow_next.png');
    background-position: center;
    background-repeat: no-repeat;
    width: 105%;
    height: 100%;
}

.players-cards {
    display: flex;
    justify-content: space-between;
    width: 2464px;
    flex-wrap: nowrap;
    flex-direction: row;
}

.card {
    display: flex;
    width: 396px;
    height: 480px;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    transition: 1s;
}

.player-name {
    font-family: 'Golos-Text_SemiBold', sans-serif;
    color: rgba(49, 49, 49, 1);
    font-size: 24px;
    font-weight: 600;
    line-height: 28.8px;
    padding-top: 30px;
    padding-bottom: 5px;
}

.rank {
    font-family: 'Golos-Text_Regular', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: rgba(49, 49, 49, 0.6);
    padding-bottom: 20px;
}

.details {
    width: 113px;
    height: 35px;
    border: 1px solid rgba(48, 87, 162, 1);
    border-radius: 62px;
    color: rgba(48, 87, 162, 1);
    font-family: 'Golos-Text_Medium', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.2px;
    background-color: transparent;
}

.details:hover {
    cursor: pointer;
    background-color: rgba(48, 87, 162, 1);
    color: #FFFFFF;
}

.footer {
    display: flex;
    justify-content: center;
    height: 150px;
    background-color: rgba(233, 222, 212, 1);
}

.footer-text {
    padding-top: 40px;
    padding-left: 18px;
    max-width: 1222px;
    font-family: 'Golos-Text_Regular', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    color: rgba(49, 49, 49, 0.6);
}

@media (max-width: 1300px) {
    .lection-anounce {
        justify-content: center;
    }

    .bait {
        left: 0;
        top: 0;
    }

    .scheme-container {
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .block {
        height: auto;
    }

    .third, .sixt  {
        height: auto;
        max-width: 394px;
    }

    .players {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .players-cards {
        width: 70%;
        justify-content: center;
        flex-wrap: wrap;
    }
}

@media (max-width: 900px) {
    .last-block {
        max-width: 394px;
    }

    .last-block::after {
        display: none;
    }

    .last-stage {
        max-width: 299px;
    }
}

@media (max-width: 375px) {
    .horse-logo {
        width: 18.75px;
        height: 27px;
    }

    .header-container::before {
        background-image: url('../images/mask_small.png');
    }

    .header-block {
        max-width: 335px;
        padding-top: 25px;
    }

    .header-section {
        left: -7px;
    }

    .logo {
        padding: 17px 0;
    }

    .logo-txt {
        font-size: 14.42px;
        line-height: 15.57px;
    }

    .headline-txt {
        font-size: 36px;
        line-height: 39.6px;
    }

    .headline > .headline-txt:nth-child(2) {
        position: relative;
        top: 1px;
        left: 3px;
    }

    .header-invite {
        font-size: 18px;
        line-height: 23.4px;
        max-width: 335px;
        text-align: start;
        
    }

    .btns-container {
        flex-wrap: wrap;
        gap: 14px;
        padding-top: 30px;
    }

    .btn {
        height: 47px;
        max-width: 335px;
        width: 100%;
    }

    .learn-more {
        background-color: rgba(255, 255, 255, 0.9);
        color: rgba(31, 31, 31, 1);
        border: none;
    }

    .btn-donate-txt, .btn-learn-more-txt {
        font-size: 16px;
        max-width: max-content;
        font-weight: 500;
    }

    .header-big {
        max-width: 335px;
        font-size: 36px;
        line-height: 39.6px;
    }

    .graphics {
        left: 42px;
    }

    .circle {
        width: 297px;
        height: 297px;
        top: -70px;
        left: -59px;
    }

    .circle-txt {
        background-image: url('../images/circle_txt_small.png');
        width: 320px;
        top: -30px;
        left: -27px;
    }

    .king {
        background-image: url('../images/king_small.png');
        top: 128px;
        left: 32px;
    }

    .queen {
        background-image:  url('../images/queen_small.png');
        top: 85px;
        left: 192px;
    }

    .city {
        background-image: url('../images/city_small.png');
        left: -89px;
        top: 54px;
    }

    .city-contour {
        background-image: url('../images/city_contour_small.png');
        top: -3px;
        left: 0px;
    }

    .pawn {
        display: none;
    }

    .knight {
        background-image: url('../images/knight_small.png');
        left: 57px;
        top: 177px;
    }

    .running-line-container {
        top: -5px;
    }

    .running-line {
        padding: 7px 0;    
    }

    .running-line-txt {
        font-size: 16px;
    }

    .main-content {
        position: relative;
        /* left: 4px; */
        padding-top: 44px;
        max-width: 375px;
    }

    .explanation {
        padding-bottom: 121px;
    }

    .chess-players {
        max-width: 335px;
        padding-top: 24px;
        padding-bottom: 15px;
    }

    .anounce {
        max-width: 336px;
        font-size: 28px;
        line-height: 37.8px;
        position: relative;
        left: -7px;
    }

    .conditions {
        flex-direction: column;
    }

    .grossmeister {
        background-image: url('../images/thinking_process_small.png');
        top: -31px;
        left: -16px;
        max-width: 375px;
        min-height: 402px;
    }

    .grossmeister::after {
        background-image: url('../images/filter_small.png');
    }

    .bait {
        top: -6px;
        left: 4px;
        max-width: 335px;
    }

    .advantages {
        max-width: 285px;
        font-size: 28px;
        line-height: 37.8px;
    }

    .bolder-red {
        display: block;
        width: 335px;
    }

    table {
        top: 0px;
        padding-top: 43px;
        left: -2px;
    }

    .table-row {
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 34px;
    }

    .table-row::after {
        width: 335px;
        top: -18px;
    }

    .table-term {
        padding-bottom: 10px;
    }

    .unique {
        padding-bottom: 22px;
    }

    .unique > .table-value {
        margin-left: 12px;
    }

    .table-term::after {
        display: none;
    }

    .table-value {
        padding: 0;
    }

    .old-price {
        margin-right: 7px;
    }

    .blue-string {
        top: 7px;
        font-size: 18px;
    }

    .development-phases {
        padding-bottom: 121px;
        max-width: 335px;
        overflow: hidden;
        position: relative;
        left: 4px;
    }

    .blue-string-phases {
        margin-left: 0;
        margin-top: 14px;
        font-size: 18px;
        line-height: 21.6px;
        width: 335px;
    }

    .phases-heading-block {
        padding-bottom: 0;
    }

    .scheme-container::before {
        content: '';
        position: absolute;
        display: block;
        background-image: url('../images/airplane_small.png');
        background-repeat: no-repeat;
        max-width: 335px;
        width: 100%;
        height: 100%;
        z-index: 1;
        top: 16px;
    }

    .scheme-container {
        width: 1775px;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 145px;
    }

    .scheme-container::after {
        background-image: url('../images/scheme_base_filter_small.png');
        z-index: 1;
    }

    .block {
        max-width: 335px;
        width: 100%;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        transition: .3s;
    }

    .first-block {
        margin-right: 20px;
    }

    .stage {
        font-size: 18px;
        line-height: 21.6px;
        max-width: 239px;
        top: 0;
    }

    .one {
        top: 33px
    }

    .two {
        top: 27px;
    }

    .three {
        top: -7px
    }

    .four {
        top: 0;
    }

    .five {
        top: -6px;
    }

    .six {
        top: -18px;
    }

    .seven {
        top: 14px;
    }

    .second-stage {
        top: -6px
    }

    .third-stage {
        top: -40px;
        max-width: 208px;
    }

    .fourth-stage {
        top: -33px;
    }

    .fifth-stage {
        top: -41px;
        max-width: 200px;
    }

    .sixth-stage {
        top: -51px
    }

    .last-stage {
        top: -19px;
    }

    .stages-toggles {
        display: flex;
        align-items: center;
        margin-top: 27px;
        max-width: 375px;
        width: 100%;
        justify-content: center;
    }

    .back, .next {
        width: 36px;
        height: 36px;
    }

    .back::after, .next::after {
        background-size: 27%;
    }

    .fast_access_btns {
        display: flex;
        justify-content: space-between;
        width: 74px;
        height: 10px;
        padding: 0 17px;
    }

    .fast_access_stage {
        display: block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: rgba(217, 217, 217, 1);
        cursor: pointer;
    }

    .fast_access_stage:hover {
        background-color: rgba(150, 150, 150, 1);
    } 

    .stage_selected {
        background-color: rgba(49, 49, 49, 1);
    }

    .stage_selected:hover {
        background-color: rgba(49, 49, 49, 1);
    }

    .players {
        display: block;
        max-width: 375px;
        padding-bottom: 52px;
    }

    .players-header{
        position: relative;
        left: 4px;
    }

    .players-heading {
        padding-bottom: 40px;
    }

    .players-cards {
        width: 2200px;
        flex-wrap: nowrap;
    }

    .avatar {
        width: 244px;
    }

    .card {
        position: relative;
        left: -13px;
    }

    .players-btns-container {
        position: relative;
        display: flex;
        justify-content: center;
        top: -52px;
        left: -8px;
    }

    .counter-mobile {
        letter-spacing: 2px;
    }
}