* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Golos-Text_Regular';
    src: url('../fonts/Golos-Text_Regular.ttf');
}

@font-face {
    font-family: 'Golos-Text_Bold';
    src: url('../fonts/Golos-Text_Bold.ttf');
}

@font-face {
    font-family: 'Golos-Text_SemiBold';
    src: url('../fonts/Golos-Text_DemiBold.ttf');
}

@font-face {
    font-family: 'Golos-Text_Medium';
    src: url('../fonts/Golos-Text_Medium.ttf');
}

@font-face {
    font-family: 'Merriweather';
    src: url('../fonts/Merriweather-Regular.ttf');
}

@font-face {
    font-family: 'Merriweather_Bold';
    src: url('../fonts/Merriweather-Bold.ttf');
}

/* body {
    display: block;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
} */

.header-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../images/mask.png');
    z-index: 1;
    mix-blend-mode: color-burn;
}

.header-container {
    background-color: #E9DED4;
    position: relative;
    /* min-width: 1920px; */
    /* width: 100%; */
    min-height: 700px;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.header {
    display: flex;
    flex-direction: column;
}

.header-section {
    display: flex;
    flex-direction: column;
    position: relative;
    left: -9px;
    /* width: 50%; */
    /* flex-grow: 1; */
    /* flex-basis: 34%; */
    /* flex-wrap: wrap;
    align-content: space-around; */
}

.graphics {
    position: relative;
    left: 50px;
}

.logo {
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    z-index: 2;
    padding: 27px 0;
}

.logo-symbols {
    display: flex;
}

.horse-logo {
    background-image: url('../svg/horse_vector.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    width: 22px;
    height: 31.18px;
}

.logo-txt {
    display: flex;
    flex-direction: column;
    font-family: 'Golos-Text_Bold', sans-serif;
    font-weight: 700;
    font-size: 16.65px;
    line-height: 17.98px;
    letter-spacing: 0.16px;
    color: rgba(89, 86, 83, 1);
    width: 150px;
    text-transform: uppercase;
    margin-left: 8px;
}

.header-block {
    max-width: 542px;
    z-index: 2;
    padding-top: 31.8px;
}

.headline {
    display: flex;
    flex-direction: column;
}

.headline-txt {
    text-transform: uppercase;
    font-family: 'Merriweather', serif;
    font-weight: 400;
    font-size: 60px;
    line-height: 66px;
    align-self: center;
    color: rgba(49, 49, 49, 1);
}

.last-paragraph {
    align-self: flex-end;
}

.header-invite {
    font-family: 'Golos-Text_Regular', sans-serif;
    font-size: 18px;
    line-height: 23.4px;
    text-align: center;
    padding-top: 25px;
    color: rgba(49, 49, 49, 1);
}

.btns-container {
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
}

.btn {
    border: none;
    font-family: 'Golos-Text_Medium', sans-serif;
    font-size: 16px;
    border-radius: 66px;
    padding: 20px;
    width: 263px;
    max-height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.donate, .learn-more:hover {
    background-color: rgba(31, 31, 31, 1);
    color: #FFFFFF; 
}

.donate:hover {
    background-color: rgba(251, 206, 81, 1);
    color: rgba(31, 31, 31, 1);
}

.learn-more {
    background-color: transparent;
    border: 2px solid rgba(31, 31, 31, 1);
}

.btn-donate-txt {
    max-width: 165px;
    display: flex;
    align-items: center;
}

.btn-learn-more-txt {
    max-width: 100px;
}

.circle {
    width: 660px;
    height: 660px;
    background-color: rgba(251, 206, 81, 1);
    border-radius: 50%;
    position: relative;
    top: -44px;
    /* left: -61px; */
    z-index: 0;
}

.circle-txt {
    background-image: url('../images/circle_txt.png');
    position: relative;
    width: 777px;
    height: 100%;
    top: 44px;
    left: -58px;
    mix-blend-mode: overlay;
}

.king {
    background-image: url('../images/king.png');
    position: absolute;
    width: 128.78px;
    height: 265.89px;
    top: 312px;
    left: 55px;
}

.queen {
    background-image: url('../images/queen.png');
    position: absolute;
    width: 130.16px;
    height: 261.44px;
    top: 209px;
    left: 387px;
}

.city {
    position: absolute;
    left: -790px;
    top: 270px;
    background-image: url(../images/city.png);
    background-repeat: no-repeat;
    width: 1623.5px;
    /* width: 100%; */
    /* height: 100%; */
    z-index: 0;
}

.city-contour {
    position: relative;
    background-image: url('../svg/city_cont.svg');
    max-width: 1605px;
    width: 100%;
    height: 463.82px;
    top: -10px;
    left: -4px;
}

.pawn {
    background-image: url('../images/pawn.png');
    position: absolute;
    width: 82.61px;
    height: 122.22px;
    left: 565px;
    top: 558px;
    z-index: 2;
}

.knight {
    background-image: url('../images/knight.png');
    position: absolute;
    width: 190px;
    height: 230.99px;
    left: 162px;
    top: 482px;
    z-index: 2;
}

.running-line-container {
    /* display: inline-block; */
    position: relative;
    width: 100%;
    overflow: hidden;
    background-color: rgba(245, 73, 50, 1);
    z-index: 3;
}

.running-line {
    display: inline-flex;
    min-width: max-content;
    padding: 18px 12px 18px 12px;
}

.running-line-txt {
    font-family: 'Merriweather', serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 24.2px;
    color: #FFFFFF;
    text-transform: uppercase;
}

.running-line-txt::after {
    content: '';
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #FFFFFF;
    margin: 0 10px;
    transition: .1s;
}

.main-content {
    display: flex;
    padding-top: 80px;
    flex-direction: column;
    align-content: space-around;
    flex-wrap: wrap;
}

.explanation {
    display: flex;
    flex-direction: column;
    max-width: 1222px;
    width: 100%;
    padding-bottom: 200px;
}

.lection-anounce {
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 65px;
}
.anounce {
    max-width: 764px;
}

h2 {
    color: rgba(49, 49, 49, 1);
    font-family: 'Merriweather', serif;
    font-weight: 400;
    line-height: 48.6px;
    font-size: 36px;
    text-transform: uppercase;
}

.bolder-red {
    font-family: 'Merriweather_Bold', serif;
    font-weight: 700;
    color:rgba(245, 73, 50, 1);
}

.conditions {
    display: flex;
    justify-content: space-around;
}

.images-set {
    max-width: 474px;
    height: 527px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 0;
    background: #FFFFFF;

}

.images-set::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url('../images/filter.png');
    mix-blend-mode: color-burn;
    z-index: 1;
}

.base {
    background-image: url('../images/base_paper.png');
    background-repeat: no-repeat;
    width: 437.5px;
    height: 445.57px;
    position: relative;
    display: block;
}

.money {
    background-image: url('../images/ussr_money.png');
    background-size: 100%;
    background-repeat: no-repeat;
    width: 240.58px;
    height: 121.61px;
    rotate: 90deg;
    position: relative;
    top: 40px;
    left: 268px;
}

.grossmeister-star {
    background-image: url('../images/grossmeister_star.png');
    background-size: 100%;
    background-repeat: no-repeat;
    width: 528.99px;
    height: 343.81px;
    position: relative;
    top: -192px;
    right: 51px;
}

.grossmeister {
    background-image: url('../images/grossmeister.png');
    background-size: 100%;
    background-repeat: no-repeat;
    width: 338.63px;
    height: 340.3px;
    position: absolute;
    top: 115px;
    left: 101px;
}

.horse-star {
    background-image: url('../images/horse_star.png');
    background-repeat: no-repeat;
    width: 243.6px;
    height: 245.1px;
    position: absolute;
    top: 255px;
    left: -40px;
}

.monochrome-horse {
    background-image: url('../images/monochrome_horse.png');
    background-repeat: no-repeat;
    width: 160px;
    height: 168px;
    position: absolute;
    top: 57px;
    left: 77px;
}

.hand-wth-figure {
    background-image: url('../images/hand_with_figure.png');
    background-repeat: no-repeat;
    width: 285px;
    height: 210px;
    position: absolute;
    top: 289px;
    left: 170px;
}

.bait {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.advantages {
    max-width: 680px;
}

table {
    /* width: 100%; */
}

.table-row {
    position: relative;
    vertical-align: middle;
}

.table-row::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-bottom: 2px solid rgba(208, 208, 208, 1);
}

.table-term {
    position: relative;
    font-family: 'Golos-Text_Regular', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: rgba(49, 49, 49, 0.7);
}

.table-term::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-right: 2px solid rgba(208, 208, 208, 1);
}

.table-value {
    position: relative;
    font-family: 'Golos-Text_SemiBold', sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    color: rgba(49, 49, 49, 1);
    padding: 12px 90px 15px 10px;
}

.old-price {
    text-decoration: line-through;
    text-decoration-color: rgba(245, 73, 50, 1);
    text-decoration-thickness: 2px;
    /* margin-right: 15px; */
}

.blue-string {
    font-family: 'Golos-Text_Regular', sans-serif;
    font-size: 20px;
    color: rgba(48, 87, 162, 1);
}

.development-phases {
    display: flex;
    flex-direction: column;
    max-width: 1222px;
    padding-bottom: 200px;
}

.phases-heading-block {
    display: inline-block;
    padding-bottom: 52px;
}

.header-big {
    max-width: 804px;
    font-size: 54px;
    line-height: 64.8px;
}

.blue-string-phases {
    display: inline-block;
    font-family: 'Golos-Text_Regular', sans-serif;
    font-size: 20px;
    color: rgba(48, 87, 162, 1);
    width: 250px;
    text-transform: none;
    line-height: normal;
    margin-left: 8px;
}

.stages-scheme {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    background-color: #FFFFFF;
    position: relative;
}

.stages-scheme::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url('../images/scheme_base_filter.png');
    mix-blend-mode: color-burn;
}

.four-blocks-grid {
    display: flex;
    flex-wrap: wrap;
    width: calc((100% - 414px));
    flex-direction: row;
    gap: 20px;
}


.block {
    position: relative;
    width: 394px;
    height: 112px;
    background-image: url('../images/scheme_base.png');
}

.last-block, .sixt {
    min-height: 136px;
}

.third {
    min-height: 244px;
    height: 100%;
}

.last-block {
    position: relative;
    flex-grow: 1;
}

.number {
    position: relative;
    background-color: #FFFFFF;
    width: 36px;
    height: 36px;
    border-radius: 50%;

    font-family: 'Golos-Text_SemiBold', serif;
    font-size: 20px;
    line-height: 24px;
    color: rgba(49, 49, 49, 1);

    display: flex;
    align-items: center;
    justify-content: center;
    
    top: 20px;
    left: 20px;
}

.stage {
    position: relative;
    max-width: 299px;
    font-family: 'Golos-Text_Medium', serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    color: rgba(49, 49, 49, 1);
    top: -15px;
    left: 72px;
}

.last-number {
    left: 25px;
}

.last-stage {
    left: 78px;
    max-width: 415px;
}

.airplane {
    position: relative;
    background-image: url('../images/airplane.png');
    width: 376.64px;
    height: 209.42px;
    top: -230px;
    left: 470px;
}

.players {
    max-width: 1222px;
    padding-bottom: 122px;
    overflow: hidden;
}

.players-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 60px;
}

.players-btns-container {
    display: flex;
    align-items: center;
}

.back, .next {
    background-color: rgba(49, 49, 49, 1);
    border: none;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    position: relative;
}

.players-counter {
    margin: 0 14px;
    font-family: 'Golos-Text_Regular', sans-serif;
}

.semitransparent {
    opacity: 0.6;
}

.back:hover, .next:hover {
    background-color: rgba(251, 206, 81, 1);
    cursor: pointer;
}

.back:disabled, .next:disabled {
    background-color: rgba(214, 214, 214, 1);
    cursor: default;
}

.back::after {
    content: '';
    display: block;
    position: relative;
    background-image: url('../images/arrow_back.png');
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.next::after {
    content: '';
    display: block;
    position: relative;
    background-image: url('../images/arrow_next.png');
    background-position: center;
    background-repeat: no-repeat;
    width: 105%;
    height: 100%;
}

.players-cards {
    display: flex;
    justify-content: space-between;
    width: 2465px;
    flex-wrap: wrap;
    flex-direction: row;
}

.card {
    display: flex;
    width: 394px;
    height: 480px;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
}

.player-name {
    font-family: 'Golos-Text_SemiBold', sans-serif;
    color: rgba(49, 49, 49, 1);
    font-size: 24px;
    font-weight: 600;
    line-height: 28.8px;
    padding-top: 30px;
    padding-bottom: 5px;
}

.rank {
    font-family: 'Golos-Text_Regular', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: rgba(49, 49, 49, 0.6);
    padding-bottom: 20px;
}

.details {
    width: 113px;
    height: 35px;
    border: 1px solid rgba(48, 87, 162, 1);
    border-radius: 62px;
    color: rgba(48, 87, 162, 1);
    font-family: 'Golos-Text_Medium', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.2px;
    background-color: transparent;
}

.details:hover {
    cursor: pointer;
    background-color: rgba(48, 87, 162, 1);
    color: #FFFFFF;
}

.footer {
    display: flex;
    justify-content: center;
    height: 150px;
    background-color: rgba(233, 222, 212, 1);
}

.footer-text {
    padding-top: 40px;
    max-width: 1222px;
    font-family: 'Golos-Text_Regular', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    color: rgba(49, 49, 49, 0.6);
}